{% extends "layout.html" %}  <!-- Extends a base template called "layout.html" -->

{% block content %}  <!-- Defines a content block -->
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <!-- Display the author's profile picture with a link to their profile image -->
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <!-- Display the author's username as a link -->
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        <!-- Display the date the post was posted in a specific format -->
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
            <!-- Display an "Update" button for the post if the current user is the author -->
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <!-- Display a "Delete" button for the post if the current user is the author -->
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <!-- Display the title of the post -->
      <p class="article-content">{{ post.content }}</p>
      <!-- Display the content of the post -->
    </div>
  </article>
  <!-- Modal for post deletion confirmation -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- Button to close
{% endblock content %}
